<div id="miMenu">
<ul id="listaMenu">
<li><a href="http://localhost:8098/admin">Clientes</a></li>
<li><a href="http://localhost:8098/servicios">Servicios</a></li>
<li><a href="http://localhost:8098/empleado">Empleados</a></li>
<li><a href="http://localhost:8098/ventas">Ventas</a></li>
<li><a href="http://localhost:8098/detalle">Detalle de venta</a></li>

</ul>
	
</div>